@import "./variables.scss";
@import "./mixins.scss";

.form--group{
  margin: $default-padding 0;
  .form--group__title{
    font-size: 30rpx;
    font-weight:bold;
    border-bottom: 2px solid $black;
    margin-bottom:30rpx;
    width:100%;
  }
}

.form-item--default__box {
  display: block !important;
  // padding-left: $default-padding;
}

.form-item--default, .form-item--radio{
  padding:0rpx 0rpx 10rpx 40rpx;
  height:80rpx;
  display: flex;
  .form-item--label, .form-item--label__fullwidth, .form-item--label__paragraph {
    color: $black;
    font-size: $font-small;
    font-weight: 400;
    flex:10%;
    display: flex;
    align-items:center;
    // text-align: right;
    // vertical-align:middle;
    // border-right: $section-border;
  }
  .form-item--label__fullwidth {
    width:100%;
    text-align:left;
  }
  .form-item--label__paragraph{
    line-height: 1;
  }
  .form-item--input, .form-item--input__half {
    display: inline-block;
    vertical-align:middle;
    line-height:1.4rem;
    height:auto;
    border-bottom: $section-border;
    background-color: $white;
    transition: all 0.3s ease;
    flex:3;
  }
  .form-item--input__half{
    width:35%;
    border-bottom: none;
    vertical-align:middle;
  }

  .form-item--input[focus] {
    border-bottom: 2px solid $color-primary;
  }
  .form-item--textinput {
    border-left: $section-border;
    padding: 20rpx;
    width: auto;
    z-index: 99;
    margin-top:10px;
    background-color: $white;
  }
}

.form-item--radio{
  height: unset;
  padding: 20rpx;
  padding-left: 40rpx;
}

.form-item--label-inner {
  width: 100%;
  text-align: left;
}
.form-item--switch-outer {
  flex: 2;
  color: $black;
}
.form-item--switch[checked]{}

.form-message {
 background-color: $light-grey;
 padding: $default-padding / 2;
 color: $black;
 text-align: center;
 margin-top:40rpx;
 box-shadow: $normal-shadow;
}

.form--title {
  @include titletext;
  max-width: 500px;
  margin: 0 auto;
}

.form--subtitle {
  @include subtitletext;
  max-width: 500px;
  margin: 0 auto;
  @media all and (min-width: $screen-md) {
    padding-bottom: 25px;
  }
}

.form--checkbox-group {
  width: 100%;
  margin: 0 auto;
  padding: $default-padding / 2;
  padding-left: $default-padding;
  padding-right: 0;
}

.form-item--picker__half{
  padding:0 30rpx;
  display: inline-block;
  position: relative;
  vertical-align:middle;
  height:30px;
  line-height:2.3;
  &:after{
    content: '';
    width: 10rpx;
    height: 2rpx;
    transform: rotate(45deg);
    background-color: $black;
    position: absolute;
    top:15px;
    right:7rpx;
  }
  &:before{
    content: '';
    width: 10rpx;
    height: 2rpx;
    transform: rotate(-45deg);
    background-color: $black;
    position: absolute;
    top:15px;
    right:0;
  }
}

.form-item--flex-item {
  flex:3;
  border-bottom: $section-border;
}
