//BASE STYLES
@import './variables.scss';
@import './mixins.scss';
@import './images.scss';
@import './buttons.scss';

view, view:before, view:after,
text, text:before, text:after,
image, image:before, image:after,
scroll-view, scroll-view:before, scroll-view:after,
movable-area, movable-area:before, movable-area:after,
cover-view, cover-view:before, cover-view:after,
icon, icon:before, icon:after,
rich-text, rich-text:before, rich-text:after,
progress, progress:before, progress:after,
button, button:before, button:after,
checkbox, checkbox:before, checkbox:after,
form, form:before, form:after,
input, input:before, input:after,
label, label:before, label:after,
picker, picker:before, picker:after,
picker-view, picker-view:before, picker-view:after,
radio, radio:before, radio:after,
slider, slider:before, slider:after,
switch, switch:before, switch:after,
textarea, textarea:before, textarea:after,
navigator, navigator:before, navigator:after,
audio, audio:before, audio:after,
video, video:before, video:after {
  box-sizing: border-box;
  &::-webkit-scrollbar {
    /*隐藏滚轮*/
    width: 0;
    height: 0;
    color: transparent;
    display: none !important;
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
  display: none !important;
}

page{
    background: $white;
    font-size: 28rpx;
    font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;
}

.container, .container__flex, .container__flex-layout, .container__has-footer, .container__has-tabbar {
  height: 100%;
  min-height: 100vh;
  position: relative;
}

.container__flex-layout {
  display:flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: flex-start;
  flex-direction: column;
}

.padbox--default {
  padding: $default-padding;
}

.container__has-footer {
  padding-bottom: 100px;
}

.container__has-tabbar{
  padding-bottom: 55px;
}

.container__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.flex--item__vertical-center{
  width: 100%;
  text-align: center;
  margin-top:-55px;
}
.flex--parent__horizontal{
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  margin: 0 auto;
}

.flex--item__half{
  flex: 0 0 45%;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

//  profile stuff

.name {
  font-size: $font-medium-title;
  font-weight: bold;
  color: $black;
}
.role {
  background-color: $black;
  font-size: $font-small;
  color: $white;
  text-align: center;
  padding: 2rpx 10rpx;
}
.role-rescuer {
  background-color: $red;
}



