@import "./variables.scss";

.icon--default {
  width: 40px;
  height: 40px;
}

.icon--inline, .icon--xs {
  width:30px;
  height:30px;
  vertical-align:middle;
}

.icon--xs {
  width: 15px;
  height: 15px;
  vertical-align:middle;
  margin: 0 10rpx;
}
.icon--male, .icon--female, .icon--location, .icon--like, .icon--apply, .icon--share{
  background-repeat: no-repeat;
  background-size:60%;
  background-position: center;
  opacity: 0.8;
  display: inline-block;
  width:40rpx;
  height:40rpx;
  vertical-align:middle;
  margin: 0 10rpx;
}
.icon--apply{
  background-image: url('https://up.img.heidiancdn.com/o_1c5fr7ltr1qdvpls5up15d06d60send.svg');
  background-size:100%;
  margin-right: 10rpx;
  opacity: 1;
}
.icon--like{
  background-image: url('https://up.img.heidiancdn.com/o_1c5fqtd4cpmg1t8c18pd17f61i7b0a0star.svg');
  background-size:100%;
  margin-right: 10rpx;
  opacity: 1;
}
.icon--share {
  background-image: url('https://up.img.heidiancdn.com/o_1c5fs5k5519brqdu17161vev1ao20share.svg');
  background-size: 100%;
  margin: 0!important;
  opacity: 1;
}
.icon--location {
  background-image: url('https://up.img.heidiancdn.com/o_1c5fivcnfug21s991nr71j31rh20cation.svg');
  width:60rpx;
  background-size:75%;
}
.icon--male {
  background-color: $blue;
  background-image: url('https://up.img.heidiancdn.com/o_1c5fihndje2hfo8rq10d6c2l0male.svg');
}

.icon--female {
  background-color: $pink;
  background-size:50%;
  background-image: url('https://up.img.heidiancdn.com/o_1c5fihndisdl1qh6lda10v81ght0female.svg');
}

.icon--check {
  background-image: url('https://up.img.heidiancdn.com/o_1c0o37aq312v91kk4mrdbobb0k0hecked.png');
  background-repeat:no-repeat;
  background-position:center;
  background-size:80%;
}

.icon--dash {
  background-image: url('https://up.img.heidiancdn.com/o_1c6fjus5nn631qcutap174si6h0dash.svg');
  background-repeat:no-repeat;
  background-position:center;
  background-size:80%;
  width:20px;
  height:20px;
  padding: 2rpx;
}

.icon--ex {
  background-image: url('https://up.img.heidiancdn.com/o_1c6gpqeo9dasrq81qbj9851t7v0error.svg');
  width: 20px;
  height: 20px;
  background-size: contain;
}
.quote-begin{
  background-image: url("https://up.img.heidiancdn.com/o_1c5fm0jl01bj912kt1351r3durm0tion01.svg");
  opacity: 0.4;
  width: 40rpx;
  height: 40rpx;
  background-size:contain;
}
.quote-end{
  background-image: url("https://up.img.heidiancdn.com/o_1c5fm0jl21cv71g6659mb9edo90tion02.svg");
  opacity: 0.4;
  width: 40rpx;
  height: 40rpx;
  background-size:contain;
}

.avatar__small, .avatar__large, .avatar__xs {
  border-radius: 50%;
  width: 80rpx;
  height: 80rpx;
  display: inline-block;
  vertical-align:middle;
  margin: 0 10rpx;
}

.avatar__large {
  width: 150rpx;
  height: 150rpx;
  margin: 0 20rpx;
}

.avatar__xs {
  width: 40px;
  height: 40px;
}
