// Let's use some ssasssssss

// colors
$white: #fff;
$black: #333333;
$light-grey: rgba(0, 0, 0, 0.1);
// $color-primary: #50E3C2;
$color-primary: #94D89F;
$red: #ED6263;
$yellow: #FED793;
$purpley: #0d0a31;
$offgrey: #F8F8F8;
$blue: #4A91FC;
$whitegrey: #E5E5E5;
$pink: #ED6263;

// uhhmm..layout stuff? idk
$default-padding: 40rpx;
$chunky-shadow: 4px 4px 0 $black;
$normal-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
$section-border: 1px solid rgba($black, 0.1);
$section-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
$chunky-border: 2px solid #333;


// fonts
$font-big-title: 30px;
$font-medium-title: 18px;
$font-small: 14px;
$font-xs: 10px;


// screen sizes bay bay heh heh
$screen-md: 640px;
$screen-lg: 1000px;
