// Let's use some ssasssssss

$default-padding: 40rpx;
$white: #fff;
$black: #333333;
$color-primary: #50E3C2;
$chunky-shadow: 4px 4px 0 $black;
$normal-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
$section-border: 1px solid rgba($black, 0.5);
